#addShowTimeToForm {
    margin-bottom: 20px;
}

#multiShowTimeInputWrapper input {
    margin-bottom: 20px;
}

#showtimeInput {
    display: inline-block;
    max-width: 80%;
}

#showtimeTheaterInput, #theaterNumberInput {
    display: inline-block;
    max-width: 80px;
}

.input-remove-group {
    display: inline;
}

.input-remove-group img {
    max-width: 30px;
}


.input-remove-group input {
    max-width: 80%;
}


.input-remove-group img, .input-remove-group input {
    display: inline;
}

